#include <winver.h>

#ifndef FFMPEG_INTERNAL_NAME
#error Configuration error, missing FFMPEG_INTERNAL_NAME
#endif

#define STR_(__A) #__A
#define STR(__A)  STR_(__A)


VS_VERSION_INFO         VERSIONINFO
  FILEVERSION           2020,06,0,0
  PRODUCTVERSION        2020,06,0,0
  FILEFLAGSMASK         VS_FFI_FILEFLAGSMASK
#ifdef _DEBUG
  FILEFLAGS             1
#else
  FILEFLAGS             0
#endif
  FILEOS                VOS__WINDOWS32
  FILETYPE              VFT_DLL
  FILESUBTYPE           0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904E4"
    BEGIN
      VALUE "FileDescription",	"OpenCV FFmpeg wrapper\0"
      VALUE "FileVersion",	"2020.06.0\0"
      VALUE "InternalName",	STR(FFMPEG_INTERNAL_NAME) "\0"
#if 0
      VALUE "LegalCopyright",	"\0"
#endif
      VALUE "OriginalFilename",	STR(FFMPEG_INTERNAL_NAME) ".dll\0"
      VALUE "ProductName",	"OpenCV FFmpeg wrapper\0"
      VALUE "ProductVersion",	"2020.06.0\0"
#if 1
      VALUE "Comments",		"http://opencv.org/\0"
#endif
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x0409, 1252
  END
END
